.Login{
    background-color: rgb(253, 253, 253);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login__container{
    padding: 10vh;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: -5px 5px 50px -3px rgba(0, 0, 0, 0.7);
    height: 50vh;
    width: 50vw;
}

.login__container > img{
    object-fit: contain;
    height: 25vh;
    margin-bottom: 4vh;
}

.login__container > button{
    margin-top: 5vh;
    text-transform: inherit !important;
    background-color: rgb(101, 206, 69)  !important;
    color: rgb(248, 248, 248);
}
